<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_headers(links, scripts)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Print3d</title>
  <link rel="shortcut icon" href="/images/favicon.svg"/>

  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/webjars/mdi/2.1.19/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/webjars/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">

  <script type="importmap">
    {
        "imports": {
            "@popperjs/core": "/webjars/popperjs__core/lib/index.js",
            "bootstrap": "/webjars/bootstrap/dist/js/bootstrap.esm.min.js",
            "vue": "/webjars/vue/dist/vue.esm-browser.js",
            "printer": "/js/component/printer.js",
            "connection": "/js/component/connection.js",
            "client": "/js/lib/client.js",
            "common": "kjs/common/0.0.1-SNAPSHOT/common.js"
        }
    }
  </script>

  <th:block th:replace="${links}" />

  <th:block th:replace="${scripts}" />
</head>

<body th:fragment="common_body(content, after_scripts)">
  <div  class="container-scroller">
    <nav th:replace="~{nav::common_nav(name='Petya')}"></nav>
    <div class="container-fluid page-body-wrapper">
      <nav th:replace="~{sidebar :: common_sidebar(active='fdms')}" id="sidebar"></nav>
      <div class="main-panel">
        <th:block th:replace="${content}" />
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
                        href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>
  </div>

  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>

  <th:block th:replace="${after_scripts}" />

</body>

</html>
